@charset "UTF-8";

* {
    border: solid;
}

.main {
    background-color: azure;
}

.main-outer {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    aspect-ratio: 1920 / 963;
}

.main-inner {
}

.main-title {
    text-align: center;
    margin-top: 20px;
}

.main-list-item {
    list-style: none;
}

.main-list-item::before {
}

.main-list-item img {
    width: 100px;
}