@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  /* デザインカンプの設定を確認して指定しましょう */
  line-height: 1.75;
  color: #333;
  /* デザインカンプの設定を確認して指定しましょう */
}

a {
  color: #fff;
  /* デザインカンプの設定を確認して指定しましょう */
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


/* 部品
------------------------------------------ */
/* ピンク色ボタン */
.button-pink {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 3rem;
  width: 17.2rem;
  padding: .8rem 1rem 1rem;
  background-color: #f11f8d;
  font-size: 1.22rem;
}

/* ボタン→ */
.bi-arrow-right-short {
  position: absolute;
  top: 1.9rem;
  right: 0.8rem;
  transform: translate(0%, -50%);
  font-size: 1.7rem;

}

/* SNSリンク */
.hamburger-sns {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* キャッチコピーのフォント・サイズ・色指定 */


.notoSansJp-bold-24px {
  font-size: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .notoSansJp-bold-24px {
    font-size: 2.75rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
  }
}

.notoSansJp-bold-20px {
  font-size: 1.25rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .notoSansJp-bold-20px {
    font-size: 2.375rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
  }
}

.poppins-extraBold-20px {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .poppins-extraBold-20px {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
  }
}

.orange-text {
  color: #f2a118;

}

.green-text {
  color: #46c017;

}

.red-text {
  color: #f26618
}

.black-text {
  color: #000000;

}

* {
  outline: 1px solid magenta;
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0079f2;
  width: calc(100% - 1rem);
  height: 4.1rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 121, 242);
    width: calc(100% - 1rem);
    height: 4.8rem;
    margin: 1.1rem 0.5rem 0px;
    border-radius: 3rem;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  position: fixed;
  top: 0.01rem;
}

@media (min-width: 768px) {
  .header-logo {
    display: flex;
    align-items: center;
    margin-left: 0rem;
    margin-bottom: 0rem;
    position: fixed;
    top: 1.8%;
    left: 3.1%;
  }
}

.header-logo img {
  width: 9.9rem;
  height: auto;
}

@media (min-width: 768px) {
  .header-logo img {
    width: 12rem;
    height: auto;
  }
}

/* ハンバーガーボタン */
.hamburger-button {
  position: fixed;
  right: 1.66rem;
  top: 0.75rem;
  z-index: 999;
  width: 3.125rem;
  height: 1rem;
  font-size: 1.9rem;
  color: #fff;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

/* ハンバーガーメニュー */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0079f2;
  transition: opacity .3s linear;
  opacity: 0;
  visibility: hidden;
  height: 32.6rem;
  border-radius: 2rem;
  position: absolute;
  top: 4.9rem;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: transparent;
    transition: none;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
}

.hamburger-menu-list {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 700;
  align-items: center;
  width: 100%;
  padding-top: 2.6rem;
  padding-left: 0rem;
  row-gap: 1.65rem;
}

@media (min-width: 768px) {
  .hamburger-menu-list {
    display: flex;
    flex-direction: row;
    font-size: 0.95rem;
    font-weight: 700;
    align-items: center;
    width: 31.25rem;
    padding-top: 0rem;
    padding-left: 0rem;
    column-gap: 2.28rem;
    position: absolute;
    top: 4.5%;
    right: 0%;
    letter-spacing: -0.009rem;
    margin-right: 2rem;
  }
}

.button-pink {
  margin: 2rem;
}

@media (min-width: 768px) {
  .hamburger-menu .button-pink {
    display: none;
  }
}

/* SNSリンク */
@media (min-width: 768px) {
  .hamburger-sns {
    display: none;
  }
}


/* スライドイン後の位置の指定 */
.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}



/* カバー
--------------------------------------------*/
.cover {}

.cover-slick-item img {
  width: 92.82%;
  height: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .cover-slick-item img {
    width: 82.82%;
    height: auto;
    margin-left: auto;
    margin-top: 0;
  }
}

.cover-pickup {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1.8%;
  left: 3.2%;
}

@media (min-width: 768px) {
  .cover-pickup {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16%;
    left: 9.2%;
  }
}


/* 1枚目カルーセルテキスト */
.first-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 14rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 23rem;
    border-radius: 0.5rem;
  }
}

.first-pickup .cover-catch-up .orange-text .notoSansJp-bold-24px {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0.05rem;
  left: -0.1rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .orange-text .notoSansJp-bold-24px {
    font-size: 2.8rem;
    position: absolute;
    bottom: 0.05rem;
    left: -0.1rem;
  }
}

.first-pickup .cover-catch-up .orange-text .notoSansJp-bold-20px {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.07rem;
  right: -5.1rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .orange-text .notoSansJp-bold-20px {
    font-size: 2.35rem;
    position: absolute;
    bottom: 0.27rem;
    right: -9.65rem;
  }
}

.first-pickup .cover-catch-up .green-text .notoSansJp-bold-24px {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0.1rem;
  right: -6.585rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .green-text .notoSansJp-bold-24px {
    font-size: 2.8rem;
    position: absolute;
    bottom: 0rem;
    right: -12.485rem;
  }
}

.first-pickup .cover-catch-up .green-text .notoSansJp-bold-20px {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0.1rem;
  right: -10.5rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .green-text .notoSansJp-bold-20px {
    font-size: 2.38rem;
    position: absolute;
    bottom: 0.1rem;
    right: -19.6rem;
  }
}

.first-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 14rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 23rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.first-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.1em;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.1em;
  }
}

.first-pickup .notoSansJp-bold-20px {
  letter-spacing: -0.019em;
}

.first-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.6rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 1rem;
    left: 1.7rem;
  }
}

/* 2枚目カルーセルテキスト */

.second-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 11rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 17.4rem;
    border-radius: 0.5rem;
  }
}

.second-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15.4rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 25.6rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.second-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.055rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.1em;
  }
}

.second-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.4rem;
  left: 2rem;
  letter-spacing: -0.045rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 0.5rem;
    left: 1.45rem;
  }
}

/* 3枚目カルーセルテキスト */

.third-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 12.2rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 20.2rem;
    border-radius: 0.5rem;
  }
}

.third-pickup .cover-catch-up-text .notoSansJp-bold-20px {
  position: absolute;
  bottom: 0.1rem;
  right: -6.28rem;
  font-size: 1.31rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-up-text .notoSansJp-bold-20px {
    position: absolute;
    bottom: 0.2rem;
    right: -11.28rem;
    font-size: 2.31rem;
  }
}

.third-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 21.3rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.third-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.055rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.1em;
  }
}

.third-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.4rem;
  left: 2rem;
  letter-spacing: -0.045rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 1rem;
    left: 1.55rem;
    letter-spacing: -0.045rem;
  }

  .third-pickup .cover-catch-down-text .notoSansJp-bold-24px {
    font-size: 2.275rem;
  }
}

/* 4枚目カルーセルテキスト */

.fourth-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 11.2rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 18.2rem;
    border-radius: 0.5rem;
  }
}

.fourth-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15.4rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 25.6rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.fourth-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.055rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.09em;
  }
}

.fourth-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.4rem;
  left: 2rem;
  letter-spacing: -0.045rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 0.5rem;
    left: 1.7rem;
  }

  .fourth-pickup .cover-catch-down-text .notoSansJp-bold-20px {
    font-size: 2.275rem;
  }
}

/* 5枚目カルーセルテキスト */

.fifth-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 12.4rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 20.4rem;
    border-radius: 0.5rem;
  }
}

.fifth-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15.8rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.7rem;
    width: 26.7rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.fifth-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.35rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7.1rem;
    left: 1.67rem;
  }
}

.fifth-pickup .cover-catch-up-text .notoSansJp-bold-20px {
  position: absolute;
  bottom: 0rem;
  right: -3.8rem;
  font-size: 1.28rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-up-text .notoSansJp-bold-20px {
    position: absolute;
    bottom: 0.1rem;
    right: -6.8rem;
    font-size: 2.28rem;
  }
}

.fifth-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.45rem;
  left: 1.96rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 0.4rem;
    left: 1.6rem;
  }
}

.fifth-pickup .cover-catch-down-text .notoSansJp-bold-20px {
  position: absolute;
  bottom: 0.1rem;
  right: -7.5rem;
  font-size: 1.27rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-down-text .notoSansJp-bold-20px {
    position: absolute;
    bottom: 0.1rem;
    right: -13.5rem;
    font-size: 2.275rem;
  }
}

/* カルーセル ドットボタン */
.slick-dots li button:before {
  position: absolute;
  top: 0.45rem;
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  .slick-dots li button:before {
    position: absolute;
    top: 1rem;
    font-size: 0.6rem;
    width: 20px;
    /* ドットボタンの幅を20pxに変更 */
    height: 20px;
  }

  .slick-dots {
    text-align: right;
    padding-right: 1.5rem;
    position: absolute;
    bottom: -1.51rem;
  }
}



/* ul.primaryNavMenu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
} */




/* カバー下のお知らせ
------------------------------------------------------- */
.coverUnder {
  max-width: 100%;
  position: relative;
}

.coverUnder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.1% 6% 0% 6%;
}

@media (min-width: 768px) {
  .coverUnder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6% 6% 0% 6%;
  }
}

.coverUnder-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;

}

.coverUnder-text-up {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -0.065rem;
}

@media (min-width: 768px) {
  .coverUnder-text-up {
    font-size: 1.95rem;
    text-align: center;
    letter-spacing: -0.065rem;
  }
}

.coverUnder-text-down {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -0.07rem;
}

@media (min-width: 768px) {
  .coverUnder-text-down {
    font-size: 1.94rem;
    text-align: center;
  }
}

.coverUnder-button .button-pink {
  height: 3.7rem;
  width: 17.4rem;
  font-size: 1.25rem;
  margin: 5.2% 0% 0% 0%;
}

@media (min-width: 768px) {
  .coverUnder-button .button-pink {
    height: 3.6rem;
    width: 19.7rem;
    font-size: 1.26rem;
    margin: 7.3% 0% 0% 0%;
  }
}

.coverUnder-button-text {
  position: absolute;
  top: 18%;
  left: 24.3%;
}

@media (min-width: 768px) {
  .coverUnder-button-text {
    position: absolute;
    top: 16.8%;
    left: 27.7%;
  }
}

.coverUnder-button .bi-arrow-right-short {
  position: absolute;
  top: 1.9rem;
  right: 1.1rem;
  transform: translate(0%, -50%);
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .coverUnder-button .bi-arrow-right-short {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    transform: translate(0%, -50%);
    font-size: 1.7rem;
  }
}