@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  /* デザインカンプの設定を確認して指定しましょう */
  line-height: 1.75;
  color: #333;
  /* デザインカンプの設定を確認して指定しましょう */
}

a {
  color: #fff;
  /* デザインカンプの設定を確認して指定しましょう */
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


/* 部品
------------------------------------------ */
/* ピンク色ボタン */
.button-pink {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 3rem;
  width: 17.2rem;
  padding: .8rem 1rem 1rem;
  background-color: #f11f8d;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.button-pink:hover {
  background-color: #fff;
  color: #f11f8d;
  border: 1px solid #f11f8d;
}

/* 白色ボタン */
.button-white {
  position: relative;
  display: block;
  color: #f11f8d;
  text-align: center;
  border-radius: 3rem;
  height: 3.5rem;
  width: 19.6rem;
  padding: .5rem 1rem 1rem;
  background-color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  border: 1px solid #f11f8d;
}

@media (min-width: 980px) {
  .button-white {
    position: relative;
    display: block;
    color: #f11f8d;
    text-align: center;
    border-radius: 3rem;
    height: 4.5rem;
    width: 21.6rem;
    padding: .5rem 1rem 1rem;
    background-color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1.45rem;
    transform: translateX(0rem) translateY(-0.25rem);
    border: 2px solid #f11f8d;
  }
}

.button-white:hover {
  background-color: #f11f8d;
  color: #fff;
  border: 1px solid #f11f8d;
}

/* ボタン→ */
.bi-arrow-right-short {
  position: absolute;
  top: 1.9rem;
  right: 0.8rem;
  transform: translate(0%, -50%);
  font-size: 1.7rem;
}

@media (min-width: 980px) {
  .bi-arrow-right-short {
    position: absolute;
    top: 1.9rem;
    right: 1rem;
    transform: translate(0%, -50%);
    font-size: 3.2rem;
  }
}

/* SNSリンク */
.hamburger-sns {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* キャッチコピーのフォント・サイズ・色指定 */


.notoSansJp-bold-24px {
  font-size: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .notoSansJp-bold-24px {
    font-size: 2.75rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
  }
}

.notoSansJp-bold-20px {
  font-size: 1.25rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .notoSansJp-bold-20px {
    font-size: 2.375rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
  }
}

.poppins-extraBold-32px {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.poppins-extraBold-20px {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .poppins-extraBold-20px {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
  }
}

.orange-text {
  color: #f2a118;
}

.green-text {
  color: #46c017;
}

.red-text {
  color: #f26618
}

.black-text {
  color: #000000;
}

.pink-text {
  color: #f11f8d;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

* {
  outline: 1px solid magenta;
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0079f2;
  width: calc(100% - 1rem);
  height: 4.1rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 121, 242);
    width: calc(100% - 1rem);
    height: 4.8rem;
    margin: 1.1rem 0.5rem 0px;
    border-radius: 3rem;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  position: fixed;
  top: 0.01rem;
}

@media (min-width: 768px) {
  .header-logo {
    display: flex;
    align-items: center;
    margin-left: 0rem;
    margin-bottom: 0rem;
    position: fixed;
    top: 1.8%;
    left: 3.1%;
  }
}

.header-logo img {
  width: 9.9rem;
  height: auto;
}

@media (min-width: 768px) {
  .header-logo img {
    width: 12rem;
    height: auto;
  }
}

/* ハンバーガーボタン */
.hamburger-button {
  position: fixed;
  right: 1.66rem;
  top: 0.75rem;
  z-index: 999;
  width: 3.125rem;
  height: 1rem;
  font-size: 1.9rem;
  color: #fff;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

/* ハンバーガーメニュー */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0079f2;
  transition: opacity .3s linear;
  opacity: 0;
  visibility: hidden;
  /* height: 32.6rem; */
  border-radius: 2rem;
  position: absolute;
  top: 4.9rem;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: transparent;
    transition: none;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 1.45rem;
    left: 0rem;
  }
}

.hamburger-menu-list {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 700;
  align-items: center;
  width: 100%;
  padding-top: 2.6rem;
  padding-left: 0rem;
  row-gap: 1.65rem;
}

@media (min-width: 768px) {
  .hamburger-menu-list {
    display: flex;
    flex-direction: row;
    font-size: 0.95rem;
    font-weight: 700;
    align-items: center;
    width: 31.25rem;
    padding-top: 0rem;
    padding-left: 0rem;
    column-gap: 2.28rem;
    position: absolute;
    top: 4.5%;
    right: 0%;
    letter-spacing: -0.009rem;
    margin-right: 2rem;
  }
}

.button-pink {
  margin: 2rem;
}

@media (min-width: 768px) {
  .hamburger-menu .button-pink {
    display: none;
  }
}

/* SNSリンク */
@media (min-width: 768px) {
  .hamburger-sns {
    display: none;
  }
}


/* スライドイン後の位置の指定 */
.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}



/* カバー
--------------------------------------------*/
.cover {}

.cover-slick-item img {
  width: 92.82%;
  height: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .cover-slick-item img {
    width: 82.82%;
    height: auto;
    margin-left: auto;
    margin-top: 0;
  }
}

.cover-pickup {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1.8%;
  left: 3.2%;
}

@media (min-width: 768px) {
  .cover-pickup {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16%;
    left: 9.2%;
  }
}


/* 1枚目カルーセルテキスト */
.first-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 14rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 23rem;
    border-radius: 0.5rem;
  }
}

.first-pickup .cover-catch-up .orange-text .notoSansJp-bold-24px {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0.05rem;
  left: -0.1rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .orange-text .notoSansJp-bold-24px {
    font-size: 2.8rem;
    position: absolute;
    bottom: 0.05rem;
    left: -0.1rem;
  }
}

.first-pickup .cover-catch-up .orange-text .notoSansJp-bold-20px {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.07rem;
  right: -5.1rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .orange-text .notoSansJp-bold-20px {
    font-size: 2.35rem;
    position: absolute;
    bottom: 0.27rem;
    right: -9.65rem;
  }
}

.first-pickup .cover-catch-up .green-text .notoSansJp-bold-24px {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0.1rem;
  right: -6.585rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .green-text .notoSansJp-bold-24px {
    font-size: 2.8rem;
    position: absolute;
    bottom: 0rem;
    right: -12.485rem;
  }
}

.first-pickup .cover-catch-up .green-text .notoSansJp-bold-20px {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0.1rem;
  right: -10.5rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up .green-text .notoSansJp-bold-20px {
    font-size: 2.38rem;
    position: absolute;
    bottom: 0.1rem;
    right: -19.6rem;
  }
}

.first-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 14rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 23rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.first-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.1em;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.1em;
  }
}

.first-pickup .notoSansJp-bold-20px {
  letter-spacing: -0.019em;
}

.first-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.6rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .first-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 1rem;
    left: 1.7rem;
  }
}

/* 2枚目カルーセルテキスト */

.second-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 11rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 17.4rem;
    border-radius: 0.5rem;
  }
}

.second-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15.4rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 25.6rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.second-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.055rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.1em;
  }
}

.second-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.4rem;
  left: 2rem;
  letter-spacing: -0.045rem;
}

@media (min-width: 768px) {
  .second-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 0.5rem;
    left: 1.45rem;
  }
}

/* 3枚目カルーセルテキスト */

.third-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 12.2rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 20.2rem;
    border-radius: 0.5rem;
  }
}

.third-pickup .cover-catch-up-text .notoSansJp-bold-20px {
  position: absolute;
  bottom: 0.1rem;
  right: -6.28rem;
  font-size: 1.31rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-up-text .notoSansJp-bold-20px {
    position: absolute;
    bottom: 0.2rem;
    right: -11.28rem;
    font-size: 2.31rem;
  }
}

.third-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 21.3rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.third-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.055rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.1em;
  }
}

.third-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.4rem;
  left: 2rem;
  letter-spacing: -0.045rem;
}

@media (min-width: 768px) {
  .third-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 1rem;
    left: 1.55rem;
    letter-spacing: -0.045rem;
  }

  .third-pickup .cover-catch-down-text .notoSansJp-bold-24px {
    font-size: 2.275rem;
  }
}

/* 4枚目カルーセルテキスト */

.fourth-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 11.2rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 18.2rem;
    border-radius: 0.5rem;
  }
}

.fourth-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15.4rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 25.6rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.fourth-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.3rem;
  left: 2rem;
  letter-spacing: -0.055rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7rem;
    left: 1.67rem;
    letter-spacing: -0.09em;
  }
}

.fourth-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.4rem;
  left: 2rem;
  letter-spacing: -0.045rem;
}

@media (min-width: 768px) {
  .fourth-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 0.5rem;
    left: 1.7rem;
  }

  .fourth-pickup .cover-catch-down-text .notoSansJp-bold-20px {
    font-size: 2.275rem;
  }
}

/* 5枚目カルーセルテキスト */

.fifth-pickup .cover-catch-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.255rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 12.4rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.255rem;
    font-weight: bold;
    margin: 0rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.4rem;
    width: 20.4rem;
    border-radius: 0.5rem;
  }
}

.fifth-pickup .cover-catch-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0.5rem 0 0rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 3.4rem;
  width: 15.8rem;
  padding: 0rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: bold;
    margin: 1rem 0 0rem;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5.7rem;
    width: 26.7rem;
    padding: 0rem;
    border-radius: 0.5rem;
  }
}

.fifth-pickup .cover-catch-up-text {
  position: absolute;
  bottom: 4.35rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-up-text {
    position: absolute;
    bottom: 7.1rem;
    left: 1.67rem;
  }
}

.fifth-pickup .cover-catch-up-text .notoSansJp-bold-20px {
  position: absolute;
  bottom: 0rem;
  right: -3.8rem;
  font-size: 1.28rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-up-text .notoSansJp-bold-20px {
    position: absolute;
    bottom: 0.1rem;
    right: -6.8rem;
    font-size: 2.28rem;
  }
}

.fifth-pickup .cover-catch-down-text {
  position: absolute;
  bottom: 0.45rem;
  left: 1.96rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-down-text {
    position: absolute;
    bottom: 0.4rem;
    left: 1.6rem;
  }
}

.fifth-pickup .cover-catch-down-text .notoSansJp-bold-20px {
  position: absolute;
  bottom: 0.1rem;
  right: -7.5rem;
  font-size: 1.27rem;
}

@media (min-width: 768px) {
  .fifth-pickup .cover-catch-down-text .notoSansJp-bold-20px {
    position: absolute;
    bottom: 0.1rem;
    right: -13.5rem;
    font-size: 2.275rem;
  }
}

/* カルーセル ドットボタン */
.slick-dots li button:before {
  position: absolute;
  top: 0.45rem;
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  .slick-dots li button:before {
    position: absolute;
    top: 1rem;
    font-size: 0.6rem;
    width: 20px;
    /* ドットボタンの幅を20pxに変更 */
    height: 20px;
  }

  .slick-dots {
    text-align: right;
    padding-right: 1.5rem;
    position: absolute;
    bottom: -1.51rem;
  }
}



/* カバー下のお知らせ
------------------------------------------------------- */
.coverUnder {
  max-width: 100%;
  position: relative;
}

.coverUnder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.1% 6% 0% 6%;
}

@media (min-width: 768px) {
  .coverUnder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6% 6% 0% 6%;
  }
}

.coverUnder-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;

}

.coverUnder-text-up {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -0.065rem;
}

@media (min-width: 768px) {
  .coverUnder-text-up {
    font-size: 1.95rem;
    text-align: center;
    letter-spacing: -0.065rem;
  }
}

.coverUnder-text-down {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -0.07rem;
}

@media (min-width: 768px) {
  .coverUnder-text-down {
    font-size: 1.94rem;
    text-align: center;
  }
}

.coverUnder-button .button-pink {
  height: 3.7rem;
  width: 17.4rem;
  font-size: 1.25rem;
  margin: 5.2% 0% 0% 0%;
}

@media (min-width: 768px) {
  .coverUnder-button .button-pink {
    height: 3.6rem;
    width: 19.7rem;
    font-size: 1.26rem;
    margin: 7.3% 0% 0% 0%;
  }
}

.coverUnder-button-text {
  position: absolute;
  top: 18%;
  left: 24.3%;
}

@media (min-width: 768px) {
  .coverUnder-button-text {
    position: absolute;
    top: 16.8%;
    left: 27.7%;
  }
}

.coverUnder-button .bi-arrow-right-short {
  position: absolute;
  top: 1.9rem;
  right: 1.1rem;
  transform: translate(0%, -50%);
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .coverUnder-button .bi-arrow-right-short {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    transform: translate(0%, -50%);
    font-size: 1.7rem;
  }
}


/* キャンペーン
------------------------------------------- */
.campaign {
  margin-top: 2.5rem;
  padding-bottom: 2.3rem;
  background-color: #f2f8fe;
}

@media (min-width: 980px) {
  .campaign {
    margin-top: 4.6rem;
    padding-bottom: 3.9rem;
    background-color: #f2f8fe;
  }
}

.campaign-container {
  position: relative;
}

@media (min-width: 980px) {
  .campaign-container {
    display: flex;
    background-color: #f2f8fe;
    position: relative;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
  }
}

/* ロゴ */
.campaign-container-up-logo {
  display: flex;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

@media (min-width: 980px) {
  .campaign-container-up-logo {
    display: flex;
    padding-top: 3.9rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    transform: translateX(-1.2rem);
  }
}

.campaign-container-up-logo img {
  width: 2.1rem;
  height: auto;
}

@media (min-width: 980px) {
  .campaign-container-up-logo img {
    width: 3.0rem;
    height: auto;
  }
}

.campaign-container-up-logo .top {
  font-size: 0.75rem;
  color: #555555;
}

@media (min-width: 980px) {
  .campaign-container-up-logo .top {
    font-size: 1rem;
    color: #555555;
  }
}

.campaign-container-up-logo .down {
  font-size: 0.8125rem;
  color: #333333;
}

@media (min-width: 980px) {
  .campaign-container-up-logo .down {
    font-size: 1.25rem;
    color: #333333;
  }
}

.campaign-container-up-logo .no1 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 2rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo .no1 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2.5rem;
  }
}

.campaign-container-up-logo .※ {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  color: #666666;
  font-style: normal;
}

@media (min-width: 980px) {
  .campaign-container-up-logo .※ {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #666666;
  }
}

/* 左側ロゴ */
.campaign-container-up-logo-left {
  display: flex;
  margin-right: 0.5rem;
}

.campaign-container-up-logo-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.campaign-container-up-logo-left .top {
  position: absolute;
  top: 0rem;
  left: 1.38rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-left .top {
    position: absolute;
    top: 0rem;
    left: 2.28rem;
  }
}

.campaign-container-up-logo-left .down {
  position: relative;
  top: -0.7rem;
  left: 0.1rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-left .down {
    position: relative;
    top: -1rem;
    left: 0.1rem;
  }
}

.campaign-container-up-logo-left .no1 {
  position: absolute;
  top: 3.3rem;
  left: 0.2rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-left .no1 {
    position: absolute;
    top: 4.7rem;
    left: 1rem;
  }
}

.campaign-container-up-logo-left .one {
  font-size: 2.5rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-left .one {
    font-size: 3.75rem;
  }
}

.campaign-container-up-logo-left .※ {
  position: absolute;
  bottom: 1.1rem;
  left: 4.4rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-left .※ {
    position: absolute;
    bottom: 1.7rem;
    left: 5.6rem;
  }
}

/* 右側ロゴ */
.campaign-container-up-logo-right {
  display: flex;
  margin-left: 0.5rem;
}

.campaign-container-up-logo-right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.campaign-container-up-logo-right .top {
  position: absolute;
  top: 0.05rem;
  left: 1.68rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-right .top {
    position: absolute;
    top: 0.05rem;
    left: 2.88rem;
  }
}

.campaign-container-up-logo-right .down {
  position: relative;
  top: -0.75rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-right .down {
    position: relative;
    top: -1.15rem;
  }
}

.campaign-container-up-logo-right .no1 {
  position: absolute;
  top: 3.3rem;
  right: 1.6rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-right .no1 {
    position: absolute;
    top: 4.7rem;
    right: 2.6rem;
  }
}

.campaign-container-up-logo-right .one {
  font-size: 2.5rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-right .one {
    font-size: 3.75rem;
  }
}

.campaign-container-up-logo-right .※ {
  position: absolute;
  bottom: 1.15rem;
  left: 4.4rem;
}

@media (min-width: 980px) {
  .campaign-container-up-logo-right .※ {
    position: absolute;
    bottom: 1.75rem;
    left: 5.55rem;
  }
}

/* キャンペーン上段テキスト */
.campaign-container-up-text {
  text-align: center;
  font-size: 0.75rem;
}

@media (min-width: 980px) {
  .campaign-container-up-text {
    text-align: start;
    font-size: 0.75rem;
    transform: translateX(-1.2rem) translateY(0.63rem);
  }
}

@media (min-width: 980px) {
  .campaign-container-down {
    margin-top: -1.8rem;
  }
}

/* キャンペーン下段テキスト */
.campaign-container-down-text {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 1;
  color: #f11f8d;
  transform: translateX(0.1rem) translateY(0rem);
}

@media (min-width: 980px) {
  .campaign-container-down-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;
    color: #f11f8d;
    transform: translateX(1.3rem) translateY(0.6rem);
  }
}

.campaign-container-down-text::before,
.campaign-container-down-text::after {
  width: 0.125rem;
  height: 1.75rem;
  content: "";
  background-color: #f11f8d;
}

.campaign-container-down-text::after {
  margin-left: 0.8rem;
  transform: rotate(30deg);
}

@media (min-width: 980px) {
  .campaign-container-down-text::after {
    transform: rotate(30deg);
    position: absolute;
    right: 6.4rem;
  }
}

.campaign-container-down-text::before {
  margin-top: 0.3rem;
  margin-right: 0.9rem;
  transform: rotate(-30deg);
}

@media (min-width: 980px) {
  .campaign-container-down-text::before {
    margin-top: 0.3rem;
    transform: rotate(-30deg);
    position: absolute;
    left: 6rem;
  }
}

.campaign-container-down-text span {
  transform: translateY(-0.2rem);
  padding-right: 0.3rem;

}

/* 白色ボタン */
.campaign-container-down-button {
  display: flex;
  justify-content: center;
  margin-top: 0.65rem;
}

@media (min-width: 980px) {
  .campaign-container-down-button {
    display: flex;
    justify-content: center;
    transform: translateX(1.2rem) translateY(1.3rem);
  }
}

@media (min-width: 980px) {
  .button-white .campaign-button-text {
    transform: translateX(-0.1rem) translateY(0.3rem);
  }
}

/* 白ボタン→ */
.campaign-container-down-button .bi-arrow-right-short {
  position: absolute;
  top: 1.7rem;
  right: 0.8rem;
  transform: translate(0%, -50%);
  font-size: 1.7rem;
}

@media (min-width: 980px) {
  .campaign-container-down-button .bi-arrow-right-short {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    transform: translate(5%, -40%);
    font-size: 2.1rem;
  }
}

/* コース案内
------------------------------------------------------ */
.courseInformation {
  max-width: 100%;
}

.courseInformation-container {
  max-width: 100%;
  padding: 3.8rem 1rem 0rem;
}

@media (min-width: 980px) {
  .courseInformation-container {
    padding: 5.6rem 0rem 0rem;
  }
}

.courseInformation-title {
  text-align: center;
  width: 7.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  margin: 0.5rem auto 0.97rem;
  transform: translateX(-0.05rem) translateY(0rem);
}

@media (min-width: 980px) {
  .courseInformation-title {
    text-align: center;
    width: 15rem;
    padding-bottom: 1.1rem;
    font-size: 2.27rem;
    margin: 0.5rem auto 1.27rem;
    transform: translateX(-0.05rem) translateY(0rem);
  }
}

.courseInformation-title hr {
  background-color: #0079f2;
  border: none;
  height: 2.5px;
  width: 1.455rem;
  margin: 0.4rem auto 0;
}

@media (min-width: 980px) {
  .courseInformation-title hr {
    background-color: #0079f2;
    border: none;
    height: 1px;
    width: 2.3rem;
    margin: 0.7rem auto 0;
  }
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-pane-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: -0.3rem 1rem 1rem;
  padding-top: 0rem;
  padding-bottom: 1.4rem;
  border-radius: 0.437rem 0.437rem 0.437rem 0.437rem;
  gap: 0.7rem;
}

@media (min-width: 980px) {
  .tab-pane-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: -0.3rem 1rem 1rem;
    padding: 0rem 1.6rem 1.4rem;
    border-radius: 0.437rem 0.437rem 0.437rem 0.437rem;
    gap: 1.6rem;
  }
}

.tab-content img {
  max-width: 17.4rem;
  height: auto;
  border-radius: 4%;
  transform: translateX(0rem) translateY(1.4rem);
}

@media (min-width: 980px) {
  .tab-content img {
    max-width: 19.4rem;
    height: auto;
    border-radius: 4%;
    transform: translateX(0rem) translateY(1.6rem);
  }
}

.tab-pane-img .courseInformation-tab-content-item:nth-child(3) img {
  transform: translateX(0rem) translateY(1.2rem);
}

@media (min-width: 980px) {
  .tab-pane-img .courseInformation-tab-content-item:nth-child(3) img {
    transform: translateX(0rem) translateY(1.6rem);
  }
}

.courseInformation-tab-content-title {
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
  margin-top: 1.6rem;
}

@media (min-width: 980px) {
  .courseInformation-tab-content-title {
    font-size: 1.55rem;
    line-height: 1.1;
    text-align: center;
    margin-top: 2.15rem;
    transform: translateX(0.1rem) translateY(0rem);
  }
}

.courseInformation-tab-content-title span {
  font-size: 1rem;
}

@media (min-width: 980px) {
  .courseInformation-tab-content-title span {
    font-size: 1.1rem;
  }
}

/* タブ */
.st-theme-basic {
  border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
  column-gap: 0.55rem;
  flex-direction: row !important;
}

@media (min-width: 980px) {
  .tab.st>.nav {
    column-gap: 1.5rem;
    flex-direction: row !important;
  }
}

.tab.st-theme-basic>.nav {
  box-shadow: none;
}

@media (min-width: 980px) {
  .courseInformation-container .tab {
    width: 67.5rem;
    margin: 0 auto;
  }
}

.tab.st-theme-basic>.nav .nav-link {
  padding: 1.45rem;
  padding-bottom: 1.45rem;
  line-height: 1;
  background-color: #d8d8d8;
  color: #000;
  border-radius: 0.437rem 0.437rem 0 0;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (min-width: 980px) {
  .tab.st-theme-basic>.nav .nav-link {
    padding: 1.55rem 0rem 1.9rem;
    font-size: 1.55rem;
  }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
  color: #fff !important;
  background-color: #f2a118;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset !important;
}

.tab.st-theme-basic>.tab-content>.tab-pane {
  flex-direction: column;
  padding: 1.4rem 0rem 0rem;
  background-color: #ffedcc;
  width: 100%;
  height: 58.2rem;
}

@media (min-width: 980px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    justify-content: space-between;
    flex-direction: row;
    max-width: 67.5rem;
    padding: 1.65rem 0.55rem 2rem;
    height: 24.2rem;
    border-radius: 0 0 0.437rem 0.437rem;
  }
}

/* タブ2 3枚目の画像の位置調整 */
#tab-2 .courseInformation-tab-content-item:nth-child(3) img {
  transform: translateX(0rem) translateY(1.11rem);
}

/* タブ2 3枚目のテキスト位置調整 */
#tab-2 .courseInformation-tab-content-item:nth-child(3) .courseInformation-tab-content-title {
  margin-top: 1.51rem;
}


/* タブ3 2枚目の画像の位置調整 */
#tab-3 .courseInformation-tab-content-item:nth-child(2) img {
  transform: translateX(0rem) translateY(1.21rem);
}

/* タブ2 3枚目のテキスト位置調整 */
#tab-3 .courseInformation-tab-content-item:nth-child(2) .courseInformation-tab-content-title {
  margin-top: 1.5rem;
}

/* タブ3 3枚目の画像の位置調整 */
#tab-3 .courseInformation-tab-content-item:nth-child(3) img {
  transform: translateX(0rem) translateY(1.21rem);
}

/* タブ2 3枚目のテキスト位置調整 */
#tab-3 .courseInformation-tab-content-item:nth-child(3) .courseInformation-tab-content-title {
  margin-top: 1.5rem;
}


/* お問い合わせ
------------------------------------------------------- */
.inquiry-container {
  margin: 5rem 0 0;
  height: 12rem;
  background-color: #f2f8fe;
}

@media (min-width: 768px) {
  .inquiry-container {
    margin-top: 6rem;
    height: 13.8rem;
    background-color: #f2f8fe;
  }
}

.inquiry-text {
  text-align: center;
  padding-top: 1.5rem;
  transform: translateX(-0.25rem) translateY(0rem);
}

@media (min-width: 768px) {
  .inquiry-text {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.25rem;
    transform: translateX(0.03rem) translateY(0.28rem);
  }
}

.inquiry-button .button-pink {
  text-align: center;
  height: 3.7rem;
  width: 17.5rem;
  font-size: 1.25rem;
  transform: translateX(0rem) translateY(1.2rem);
  margin: 0 auto 0;
}

@media (min-width: 768px) {
  .inquiry-button .button-pink {
    text-align: center;
    height: 3.8rem;
    width: 19.9rem;
    font-size: 1.25rem;
    transform: translateX(0rem) translateY(1.7rem);
    margin: 0 auto 0;
  }
}

.inquiry-button-text {
  transform: translateX(0rem) translateY(-0.2rem);
}

.inquiry-button .bi-arrow-right-short {
  transform: translateX(-0.3rem) translateY(-1.55rem);
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .inquiry-button .bi-arrow-right-short {
    transform: translateX(-0.1rem) translateY(-1.55rem);
  }
}

/* 3つの特色
-----------------------------------------------------*/
.characteristics-container {
  max-width: 100%;
  margin: 4rem auto 0;
}

@media (min-width: 768px) {
  .characteristics-container {
    max-width: 100%;
    margin: 4rem auto 0;
  }
}

.characteristics-title {
  text-align: center;
  font-size: 1.5rem;
  transform: translateX(0rem) translateY(0.2rem);
}

@media (min-width: 768px) {
  .characteristics-title {
    text-align: center;
    font-size: 2.28rem;
    transform: translateX(0rem) translateY(2rem);
  }
}

.characteristics-title hr {
  background-color: #0079f2;
  border: none;
  height: 3px;
  width: 1.455rem;
  margin: 0.4rem auto 0;
}

@media (min-width: 768px) {
  .characteristics-title hr {
    background-color: #0079f2;
    border: none;
    height: 2px;
    width: 2.255rem;
    margin: 0.6rem auto 0;
  }
}


/* 画像 */
@media (min-width: 768px) {
  .characteristics-img-first {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .characteristics-img-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .characteristics-img-third {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.characteristics-img {
  text-align: center;
  margin: 2.2rem 1rem 0;
}

.characteristics-img>*:nth-child(5)>.animate__animated.js-fadein-left {
  margin: 2rem 1rem 0;
}

.characteristics-img img {
  width: 25rem;
  height: auto;
  border-radius: 2%;
}

@media (min-width: 768px) {
  .characteristics-img img {
    width: 30.8rem;
    height: auto;
    border-radius: 2%;
    transform: translateX(0.95rem) translateY(2.3rem);
  }
}

@media (min-width: 768px) {
  .characteristics-img-second img {
    width: 30.8rem;
    height: auto;
    border-radius: 2%;
    transform: translateX(-0.75rem) translateY(4.9rem);
  }
}

@media (min-width: 768px) {
  .characteristics-img-third img {
    width: 30.8rem;
    height: auto;
    border-radius: 2%;
    transform: translateX(0.85rem) translateY(7.7rem);
  }
}

/* テキスト */
.characteristics-text {
  width: 24.375rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .characteristics-text {
    width: 32rem;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    transform: translateX(-0.95rem) translateY(7.6rem);
  }
}

@media (min-width: 768px) {
  .characteristics-img-second .characteristics-text {
    width: 32rem;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    transform: translateX(2.05rem) translateY(10.2rem);
  }
}

@media (min-width: 768px) {
  .characteristics-img-third .characteristics-text {
    width: 32rem;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    transform: translateX(-0.95rem) translateY(13rem);
  }
}

.characteristics-text .green-text {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 3.7rem;
  transform: translateX(-0.1rem) translateY(-0.7rem);
}

@media (min-width: 768px) {
  .characteristics-text .green-text {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 4.8rem;
    transform: translateX(0.1rem) translateY(-0.6rem);
  }
}

.characteristics-text .normal-text {
  text-align: left;
  margin-top: 0.1rem;
  padding-right: 2rem;
  font-size: 1.1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  transform: translateX(0rem) translateY(-2.1rem);
}

.characteristics-img-second .characteristics-text .normal-text {
  font-size: 1.115rem;
  transform: translateX(0rem) translateY(-2.2rem);
}

@media (min-width: 768px) {
  .characteristics-img-second .characteristics-text .normal-text {
    font-size: 1.467rem;
    transform: translateX(0rem) translateY(-2.2rem);
  }
}

.characteristics-img-third .characteristics-text .normal-text {
  transform: translateX(0rem) translateY(-2.3rem);
}

@media (min-width: 768px) {
  .characteristics-text .normal-text {
    text-align: left;
    margin-top: 0.1rem;
    padding-right: 1rem;
    font-size: 1.47rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    transform: translateX(0rem) translateY(-2.3rem);
  }
}

/* ページ読み込み直後にフェードイン要素を非表示にする */
.js-fadein-left {
  opacity: 0;
}

/* お問い合わせ（流用02）
----------------------------------------------------- */
.inquiryDiversion02 .inquiry-container {
  margin-top: 2.4rem;
}

@media (min-width: 768px) {
  .inquiryDiversion02 .inquiry-container {
    margin-top: 13.35rem;
  }
}

.inquiryDiversion02 .inquiry-text {
  transform: translateX(0rem) translateY(0rem);
}

@media (min-width: 768px) {
  .inquiryDiversion02 .inquiry-text {
    transform: translateX(0rem) translateY(0.3rem);
  }
}


/* 講師紹介
------------------------------------------------------- */
.LecturerIntroduction-container {
  max-width: 100%;
}

.LecturerIntroduction-title {
  text-align: center;
  width: 7.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  margin: 4.5rem auto 0.97rem;
  transform: translateX(-0.05rem) translateY(0rem);
}

@media (min-width: 768px) {
  .LecturerIntroduction-title {
    text-align: center;
    width: 15rem;
    padding-bottom: 1.1rem;
    font-size: 2.27rem;
    margin: 6rem auto 1.37rem;
    transform: translateX(-0.05rem) translateY(0rem);
  }
}

.LecturerIntroduction-title hr {
  background-color: #0079f2;
  border: none;
  height: 2.5px;
  width: 1.455rem;
  margin: 0.5rem auto 0;
}

@media (min-width: 768px) {
  .LecturerIntroduction-title hr {
    background-color: #0079f2;
    border: none;
    height: 3px;
    width: 2.3rem;
    margin: 0.75rem auto 0;
    transform: translateX(0rem) translateY(0rem);
  }
}

@media (min-width: 768px) {
  .LecturerIntroduction-teacher-box {
    max-width: 100%;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.LecturerIntroduction-teacher {
  width: 19.375rem;
  height: 23.25rem;
  background-color: #ffeee5;
  margin: 0 auto 0;
  border-radius: 2%;
}

@media (min-width: 768px) {
  .LecturerIntroduction-teacher {
    width: 22.5rem;
    height: 24.625rem;
    margin: 0 0 0;
  }
}

.LecturerIntroduction-photo {
  text-align: center;
  transform: translateX(0rem) translateY(1.05rem);
}

@media (min-width: 768px) {
  .LecturerIntroduction-photo {
    transform: translateX(0rem) translateY(1.4rem);
  }
}

.LecturerIntroduction-name {
  text-align: center;
  transform: translateX(0rem) translateY(1.55rem);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .LecturerIntroduction-name {
    transform: translateX(0rem) translateY(2.15rem);
  }
}

.LecturerIntroduction-name-down {
  font-size: .875rem;
  transform: translateX(0rem) translateY(0.1rem);
}

.LecturerIntroduction-text {
  max-width: 17.375rem;
  height: 8.15rem;
  background-color: #fff;
  margin: 0 auto 0;
  padding: .4688rem 1rem 0rem;
  transform: translateX(0rem) translateY(2.6rem);
  border-radius: 4.5%;
}

@media (min-width: 768px) {
  .LecturerIntroduction-text {
    max-width: 19.5rem;
    height: 8.1875rem;
    transform: translateX(0rem) translateY(3.4rem);
  }
}

.LecturerIntroduction-teacher:nth-of-type(2) {
  margin-top: 1.5rem;
  background-color: #fff6e5;
}

@media (min-width: 768px) {
  .LecturerIntroduction-teacher:nth-of-type(2) {
    margin: 0rem;
    background-color: #fff6e5;
  }
}

/* お問い合わせ（流用03）
----------------------------------------------------- */
.inquiryDiversion03 .inquiry-container {
  margin-top: 5.1rem;
  transform: translateX(0rem) translateY(0rem);
}

@media (min-width: 768px) {
  .inquiryDiversion03 .inquiry-container {
    margin-top: 5.858rem;
  }
}

.inquiryDiversion03 .inquiry-text {
  transform: translateX(-0.05rem) translateY(-0.05rem);
}

@media (min-width: 768px) {
  .inquiryDiversion03 .inquiry-text {
    transform: translateX(-0.05rem) translateY(0.35rem);
  }
}

/* ボタン→ */
.inquiryDiversion03 .bi-arrow-right-short {
  transform: translate(-16%, -52%);
}

@media (min-width: 768px) {
  .inquiryDiversion03 .bi-arrow-right-short {
    transform: translate(-9.6%, -53.7%);
  }
}

/* 料金プラン
-------------------------------------------------------- */

.ratePlan-title {
  text-align: center;
  width: 7.5rem;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
  margin: 4.5rem auto 0.7rem;
  transform: translateX(0.05rem) translateY(-0.3rem);
}

@media (min-width: 768px) {
  .ratePlan-title {
    text-align: center;
    width: 15rem;
    padding-bottom: 1.1rem;
    font-size: 2.27rem;
    margin: 6.2rem auto 1.47rem;
    transform: translateX(0.05rem) translateY(-0.1rem);
  }
}

.ratePlan-title hr {
  background-color: #0079f2;
  border: none;
  height: 2.5px;
  width: 1.455rem;
  margin: 0.5rem auto 0;
}

@media (min-width: 768px) {
  .ratePlan-title hr {
    background-color: #0079f2;
    border: none;
    height: 3px;
    width: 2.3rem;
    margin: 0.75rem auto 0;
    transform: translateX(-0.05rem) translateY(-0.15rem);
  }
}

/* テーブル上段 */
.ratePlan-table-subject {
  text-align: center;
  font-size: 1.25rem;
  transform: translateX(-2.43rem) translateY(0rem);
  margin: 0px auto 0.7rem;
}

@media (min-width: 768px) {
  .ratePlan-table-subject {
    font-size: 1.5625rem;
    transform: translateX(-12.63rem) translateY(-1.1rem);
  }
}

table {
  border-collapse: collapse;
  width: 22.375rem;
  margin: 0 auto 0;
  border: 3px solid #dddddd;
}

@media (min-width: 768px) {
  table {
    width: 46.975rem;
    transform: translateX(0rem) translateY(-1.2rem);
  }
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
}

th {
  color: #333333;
  background-color: #f5f5f5;
}

th:first-child {
  width: 7.2rem;
  height: 3rem;
}

@media (min-width: 768px) {
  th:first-child {
    width: 6.85rem;
  }
}

th:nth-child(2) {
  width: 14.8rem;
}

td {
  height: 5.5rem;
  color: #0079f2;
  font-weight: 700;
}

@media (min-width: 768px) {
  td {
    font-size: 1.125rem;
    height: 6.075rem;
  }
}

.price-text {
  color: #333333;
  font-size: .875rem;
  font-weight: 400;
  transform: translateX(0rem) translateY(0.4rem);
}

@media (min-width: 768px) {
  .price-text {
    font-size: 1.017rem;
    transform: translateX(0rem) translateY(0.5rem);
  }
}

.ratePlan-container .poppins-extraBold-32px span {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: .875rem;
}

.ratePlan-table-box-up .green-text {
  transform: translateX(0rem) translateY(0.3rem);
}

@media (min-width: 768px) {
  .ratePlan-table-box-up .green-text {
    font-size: 2.25rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

@media (min-width: 768px) {
  .ratePlan-container .poppins-extraBold-32px span {
    font-size: 1rem;
  }
}

.ratePlan-table-undertext {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  color: #666666;
  transform: translateX(0rem) translateY(0.1rem);
  margin-bottom: 3.2rem;
}

@media (min-width: 768px) {
  .ratePlan-table-undertext {
    transform: translateX(-16.9rem) translateY(-1rem);
    margin-bottom: 3.2rem;
  }
}

/* テーブル下段 */
.ratePlan-table-box-down .ratePlan-table-subject {
  text-align: center;
  transform: translateX(-6.13rem) translateY(0rem);
  margin: 0px auto 0.7rem;
}

@media (min-width: 768px) {
  .ratePlan-table-box-down .ratePlan-table-subject {
    transform: translateX(-17.43rem) translateY(-2.4rem);
  }
}

.ratePlan-table-box-down table {
  height: 23.0625rem;
}

@media (min-width: 768px) {
  .ratePlan-table-box-down table {
    height: 20rem;
    transform: translateX(0rem) translateY(-2.7rem);
  }
}

.ratePlan-table-box-down th:first-child {
  width: 8.3rem;
}

@media (min-width: 768px) {
  .ratePlan-table-box-down th:first-child {
    width: 6.48rem;
  }
}

.ratePlan-table-box-down th:nth-child(2) {
  width: 14rem;
}

.ratePlan-table-box-down td {
  height: 7.2rem;
}

.ratePlan-table-box-down table tr:nth-child(3) td {
  height: 5.7rem;
}

.ratePlan-table-box-down-td {
  transform: translateX(0rem) translateY(-0.1rem);
}

@media (min-width: 768px) {
  .ratePlan-table-box-down-td {
    transform: translateX(0rem) translateY(0rem);
  }
}

.ratePlan-table-box-down table tr:nth-child(4) td {
  height: 7rem;
}

@media (min-width: 768px) {
  .ratePlan-table-box-down td {
    height: 6.2rem;
  }
}

@media (min-width: 768px) {
  .ratePlan-table-box-down table tr:nth-child(3) td {
    transform: translateX(0rem) translateY(0.2rem);
  }
}

@media (min-width: 768px) {
  .ratePlan-table-box-down table tr:nth-child(4) td {
    height: 6.3rem;
    transform: translateX(0rem) translateY(0.2rem);
  }
}

.ratePlan-table-box-down .price-text p {
  max-width: 100%;
  text-align: center;
  padding: 0 0.5rem 0;
  transform: translateX(0rem) translateY(-0.1rem);
}

@media (min-width: 768px) {

  .ratePlan-table-box-down .price-text-second p,
  .ratePlan-table-box-down .price-text-third p {
    transform: translateX(0rem) translateY(0.3rem);
  }
}

@media (min-width: 768px) {
  .ratePlan-table-box-down .price-text p:nth-child(2) {
    transform: translateX(0rem) translateY(1.0rem);
  }
}

.ratePlan-table-box-down .green-text {
  transform: translateX(0rem) translateY(-0.3rem);
}

@media (min-width: 768px) {
  .ratePlan-table-box-down .green-text {
    font-size: 2.25rem;
    transform: translateX(0rem) translateY(-0.5rem);
  }
}

.price-text-second {
  transform: translateX(0rem) translateY(0.4rem);
}

@media (min-width: 768px) {

  .ratePlan-table-box-down .price-text-second .green-text,
  .ratePlan-table-box-down .price-text-third .green-text {
    font-size: 2.25rem;
    transform: translateX(0.1rem) translateY(0rem);
  }
}

@media (min-width: 768px) {
  .ratePlan-table-box-down .ratePlan-table-undertext {
    transform: translateX(-16.9rem) translateY(-2.7rem);
    margin-bottom: 3.2rem;
  }
}

/* お問い合わせ（流用04）
----------------------------------------------------- */
.inquiryDiversion04 .inquiry-container {
  margin-top: 5.6rem;
  transform: translateX(0rem) translateY(-0.7rem);
}

@media (min-width: 768px) {
  .inquiryDiversion04 .inquiry-container {
    margin-top: 4.2rem;
    height: 13.8rem;
    transform: translateX(0rem) translateY(0rem);
  }
}

.inquiryDiversion04 .inquiry-text {
  transform: translateX(-0.05rem) translateY(-0.05rem);
}

@media (min-width: 768px) {
  .inquiryDiversion04 .inquiry-text {
    transform: translateX(-0.05rem) translateY(0.35rem);
  }
}

/* ボタン→ */
.inquiryDiversion04 .inquiry-button .button-pink {
  transform: translateX(0rem) translateY(1.15rem);
}

@media (min-width: 768px) {
  .inquiryDiversion04 .inquiry-button .button-pink {
    transform: translateX(0rem) translateY(1.65rem);
  }
}

/* よくあるご質問
------------------------------------------------------ */
.faq-title {
  text-align: center;
  width: 15rem;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
  margin: 4rem auto 0.7rem;
  transform: translateX(0.05rem) translateY(-0.3rem);
}

@media (min-width: 768px) {
  .faq-title {
    text-align: center;
    width: 20rem;
    padding-bottom: 1.1rem;
    font-size: 2.27rem;
    margin: 6.2rem auto 1.47rem;
    transform: translateX(0.05rem) translateY(-0.1rem);
  }
}

.faq-title hr {
  background-color: #0079f2;
  border: none;
  height: 2.5px;
  width: 1.455rem;
  margin: 0.5rem auto 0;
}

@media (min-width: 768px) {
  .faq-title hr {
    background-color: #0079f2;
    border: none;
    height: 3px;
    width: 2.3rem;
    margin: 0.75rem auto 0;
    transform: translateX(-0.05rem) translateY(-0.15rem);
  }
}

.faq-container {
  max-width: 100%;
}

/* アコーディオンのタイトル部分 */
.accordion-title {
  display: block;
  margin: 17.9px auto 0;
  font-size: 1rem;
  color: #333333;
  border: 1px solid #f26618;
  cursor: pointer;
  width: 22.375rem;
  border-radius: 4%;
}

/* アコーディオンのQ部分 */
.accordion-q {
  display: flex;
  text-align: center;
}

.accordion-q-icon {
  align-items: center;
  margin: 0.8rem 1rem 0rem 1.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffeee5;
  color: #f26618;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

/* アコーディオンのA部分(表示非表示を管轄) */
.accordion-a {
  display: none;
  /* 初期状態は非表示 */
  background-color: #ffeee5;
}

/* もう一つ flexを管轄するdivを作成する */
.accordion-a-flex {
  display: flex;

  align-items: center;
}

.accordion-a-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  /* 16ptに相当するサイズ */
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f26618;
  /* 丸の部分の色 */
  color: #ffffff;
  /* フォントの色 */
  font-family: 'Poppins', sans-serif;
  /* フォントファミリー */
  font-weight: bold;
  /* 太字 */
  font-size: 16pt;
  /* フォントサイズ */
}

/* アコーディオンのコンテンツ部分 */
.accordion-a-text {
  display: inline-block;
}

/* アコーディオンのスイッチ部分 */
.accordion-switch {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #f2a118;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

/* アコーディオンが開いている時のスイッチ */
.accordion-title.open .accordion-switch {
  transform: rotate(180deg);
}