header {
  padding-bottom: 40px;
  background-color: #f4769a;
border: 2px solid #000;
}

main {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  background-color: #eaeaea;
  border: 2px solid #000;
}

article {
  width: 70%;
  background-color: #ffe966;
  border: 2px solid #000;
}

aside {
  width: 30%;
  background-color: #6df2c9;
  border: 2px solid #000;
}

footer {
  padding-bottom: 40px;
  background-color: #2f92dd;
  border: 2px solid #000;
}
