@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  line-height: 1.75;
  color: #000;
}
@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}
a {
  color: #000;
  text-decoration: none;
}
a,
a:hover,
a i {
  transition: all 0.3s;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
/* 部品
------------------------------------------ */
/* flexbox */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Outfitフォント */
.outfit {
  font-family: Outfit, sans-serif;
}

/* 文字の太さmedium */
.medium {
  font-weight: 500;
}

/* 各セクションの左右の余白 */
.business,
.works,
.news,
.contact {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
/* コンテナ */
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 67.5rem;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

/* セクションタイトル */
.section-title {
  margin-bottom: 2.5rem;
  font-size: 2.1875rem;
  text-align: center;
}

@media (min-width: 768px) {
  .section-title {
    margin-bottom: 3rem;
  }
}

/* ボタン */
.button {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 3rem;
}
.button-icon {
  position: absolute;
  top: 46%;
  right: 1.75rem;
  line-height: 1;
  transform: translate(0%, -50%);
}
@media (min-width: 768px) {
  .button-icon {
    top: 50%;
    right: 1.25rem;
  }
}
.button:hover .button-icon {
  margin-right: -0.5625rem;
}
/* オレンジ色ボタン */
.button-orange {
  max-width: 18.75rem;
  padding: .8rem 1rem .725rem;
  margin: 2.25rem auto 0;
  background-color: #ec6a00;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .button-orange {
    margin: 2.75rem auto 0;
    padding: .9rem 0;
  }
}
.button-orange:hover {
  background-color: #554b9c;
}
.button-orange-icon {
  font-size: 2.0625rem;
}

/* 白色ボタン */
.button-white-ghost {
  width: 21.875rem;
  padding-top: 1rem;
  padding-bottom: 1.275rem;
  font-size: 1.25rem;
  border: .125rem solid #fff;
}
@media (min-width: 768px) {
  .button-white-ghost {
    width: 31.25rem;
  }
}
.button-white-ghost:hover {
  color: #554b9c;
  background-color: #fff;
}
.button-white-ghost-icon {
  font-size: 2.6875rem;
  right: 1.4rem;
  transform: translate(0%, -50%);
}
@media (min-width: 768px) {
  .button-white-ghost-icon {
    right: 1rem;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 .625rem 0 rgb(0 0 0 / 20%);
}

@media (min-width: 768px) {
  .header {
    top: 1.25rem;
    max-width: 67.5rem;
    margin: auto;
  }
}

/* ロゴ */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #554b9c;
  line-height: 0;
}
/* ハンバーガーボタン */
.hamburger-button {
  width: 4.75rem;
  height: 5rem;
  font-size: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button i {
  line-height: 0;
}

/* ハンバーガーメニュー、ヘッダーナビ
------------------------------------------ */
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: #fff;
    transition: all 0.6s;
    transform: translateX(100%);
  }
}
/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}
/* ナビゲーション */
@media (max-width: 767px) {
  .hamburger-menu-list-group {
    display: table;
    width: 100vw;
    font-size: 1.875rem;
    border-top: 0.0625rem solid #000;
  }
}

@media (min-width: 768px) {
  .header-nav-list-group {
    column-gap: 1.56rem;
    height: 100%;
    padding-right: 1.6rem;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.72rem 2rem;
    line-height: 1;
    border-bottom: 0.0625rem solid #000;
  }
  .hamburger-menu-list-group li:nth-child(4) a,
  .hamburger-menu-list-group li:nth-child(5) a {
    padding: 1.5rem 2rem 1.95rem;
  }
  .hamburger-menu-list-group li:nth-child(4) a::after,
  .hamburger-menu-list-group li:nth-child(5) a::after {
    padding-top: .25rem;
  }
}
/* 右矢印アイコン */
@media (max-width: 767px) {
  .hamburger-menu-list-group a::after {
    font-family: bootstrap-icons;
    font-size: 1.5rem;
    content: "\F285";
  }
}

@media (min-width: 768px) {
  .header-nav a:hover {
    color: #ec6a00;
  }
}

/* カバー
------------------------------------------ */
.cover {
  height: 26.8em;
  margin-top: 5.2rem;
}

@media (min-width: 768px) {
  .cover {
    height: 60em;
    margin-top: 0;
    }
}

/* コンテナ */
.cover-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .cover-container {
    display: flex;
    flex-direction: row-reverse;
    }
}

/* accessカバー背景画像 */
.access-cover {
  height: 20.625rem;
  background-image: url("../images/access/cover.png");
  background-position: center;
  background-size: 95%;
}
@media (min-width: 768px) {
  .access-cover {
    width: 50%;
    height: 100vh;
    background-image: url("../images/access/cover.png");
    background-size: 90%;
    position: relative;
    right: 50px;
  }
}

/* カバーテキスト */
.cover-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


@media (min-width: 768px) {
  .cover-bottom {
    width: 50%;
    height: 100vh;
  }
}

/* カバーキャッチコピー */
.cover-catch {
  display: flex;
  justify-content: center;
  margin: 0.45rem 1.25rem 2.7rem;
}

@media (min-width: 768px) {
  .cover-catch {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 0;
    letter-spacing: 0.5px;
  }
}

.outfit-access {
  line-height: 1;
  font-family: Outfit;
  font-size: 2.6rem;
  border-bottom: #554b9c solid 0.3rem;
  padding-bottom: 0.3rem;
}

@media (min-width: 768px) {
  .outfit-access {
    line-height: 1;
    font-family: Outfit;
    font-size: 3.1rem;
    border-bottom: #554b9c solid 0.2rem;
    padding-bottom: 0.8rem;
  }
}




/* info-map
------------------------------------------ */
.info-map {
  height: 40.5rem;
  padding: 0;
  background-size: cover;

}

@media (min-width: 768px) {
  .info-map {
    height: 45rem;
    margin-top: 0rem;
    margin-bottom: 0.8rem;
    background-position: center center;
  }
}

.map {
  width: 100%; /* コンテナの幅を画面の80%に設定 */
  height: 25rem; /* コンテナの高さを指定 */
  border: none;
  padding: 0;
  margin: 0 0 10px 0;
}

@media (min-width: 768px) {
  .map {
    height: 25rem;
    margin-bottom: 3.5rem;
  }
}

iframe {
  width: 100%; /* iframeをコンテナの幅いっぱいに広げる */
  height: 100%; /* iframeをコンテナの高さいっぱいに広げる */
  border: none; /* iframeの枠線をなくす */
}

.adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  height: 8.875rem;
  margin: 1.75rem 1.25rem 0;
  padding-left: 1.56rem;
  border-radius: 1.875rem;
  font-family: "Noto Sans JP", sans-serif;
}

@media (min-width: 768px) {
  .adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  height: 11rem;
  margin-top: 1.75rem;
  width: 51%;  /* 幅を指定 */
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.5rem;
  border-radius: 1.875rem;
  font-size: 1.25rem;
  font-family: "Noto Sans JP", sans-serif;
  }
}

.place-name {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 1px;
  right: 0.2px;
}
@media (min-width: 768px) {
  .place-name {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 5px;
  }
}

.bi-geo-alt {
  line-height: 1;
  padding: 0.5rem 0 1rem;
  font-size: 1.3rem;
  position: relative;
  bottom: 3px;
}

@media (min-width: 768px) {
  .bi-geo-alt {
    line-height: 1;
    padding: 1.4rem 0 0 0;
    font-size: 1.7rem;
    position: relative;
    bottom: 10px;
  }
}

.adress-detail {
  margin-left: 0.2rem;
  line-height: 1.56;
}

@media (min-width: 768px) {
  .adress-detail {
    margin-top: 1.4rem;
    margin-left: 0.8rem;
    line-height: 1.56;
    position: relative;
    right: 1px;
    bottom:8px;
  }
}

.adress-nam {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 5px;
}

@media (min-width: 768px) {
  .adress-nam {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5px;
    right: 5px;
  }
}

.bi-telephone {
  line-height: 1;
  margin: 1rem 0 1rem;
  font-size: 1.3rem;
  position: relative;
  bottom: 1px;
  right: 2px;
}

@media (min-width: 768px) {
  .bi-telephone {
    line-height: 1;
    margin: 0.4rem 0 1rem;
    font-size: 1.3rem;
    position: relative;
  bottom: 5px;
  left: 6px;
  }
}

.nam {
  margin-left: 0.2rem;
  line-height: 1;
  padding: 1rem 0 1rem;
  letter-spacing: -0.015px;
}

@media (min-width: 768px) {
  .nam {
    margin-left: 1.4rem;
    line-height: 1;
    padding: 0rem 0 1rem;
  }
}


/* contact
------------------------------------------ */
.contact {
  color: #fff;
  background-image: url("../images/contact/contact_bg_sp.png");
  background-size: cover;
}
@media (min-width: 768px) {
  .contact {
    background-image: url("../images/contact/contact_bg_pc.png");
    background-position: center top;
  }
}
.contact .container {

  padding-top: 8.75rem;
  padding-bottom: 10rem;
}
@media (min-width: 768px) {
  .contact .container {
    padding-bottom: 9.5rem;
  }
}
.contact .section-title {
  margin-bottom: 1.4rem;
}
@media (min-width: 768px) {
  .contact .section-title {
    margin-bottom: 1.9rem;
  }
}

/* フッター
------------------------------------------ */
.footer {
  padding: 2.4rem 0;
  text-align: center;
  color: #fff;
  background-color: #554b9c;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.5rem 0;
  }
}
/* フッターナビゲーション */
.footer-nav {
  font-size: 1rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .footer-nav {
    margin-bottom: 1.7rem;
    font-size: 1.125rem;
  }
}
.footer-nav li {
  padding: 0 1.25rem;
  border-left: .0625rem solid #fff;
}
@media (min-width: 768px) {
  .footer-nav li {
    padding: 0 1.75rem;
  }
}
.footer-nav li:last-child {
  border-right: .0625rem solid #fff;
}
.footer-nav li a {
  display: block;
  line-height: 1;
  color: #fff;
}
/* コピーライト */
.footer-copyright {
  font-size: .75rem;
}
@media (min-width: 768px) {
  .footer-copyright {
    font-size: 0.875rem;
  }
}