img {
  max-width: 100%;
}

/* リンク */
a {
  color: #000;
  text-decoration: none;
}


/* カバー
------------------------------------------ */

.cover {
  position: relative;
}

.cover-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.cover-catch {
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

.cover-button {
  padding: .5rem 3.75rem;
  font-weight: 700;
  color: #fff;
  background-color: #26547c;
}