/* セクションのCSS */
.section {
  height: 100vh;
  border-top: 1px solid #040000;
}

/* ボックスのCSS */
.box {
  width: 25rem;
  height: 12.5rem;
  background-color: #040000;
}

/* ページ読み込み直後にフェードイン要素を非表示にする */
.js-fadein-left {
  opacity: 0;
}